body {
    background-color: #000000;
    opacity: 0.8;
  }
  
  .zone-container {
    box-sizing: border-box;
    border: 4px solid white;
    margin: 0.5rem auto;
    /* Grid of 64 * 45 */
    width: 1024px;
    height: 720px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    /* background-image: url(../../components/Map/images/PlayerHouseResize.jpeg); */
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: transparent;
  }
/* 
  .view-container {
    box-sizing: border-box;
    border: 4px solid white;
    margin: auto;
    position: absolute;
  } */

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }